*,
*::before,
*::after{
    padding:0;
    margin: 0;
    box-sizing:border-box;
}
/*editando navegador*/
.navBar{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 50px;
}

.navBar .linkNavBar:nth-child(4){
    margin-right: 70px;
}

.linkNavBar{
    position: relative;
    text-decoration: none;
    color: #817d7d;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-family: "Poppins", sans-serif;
}

.linkNavBar:after{
    content: "";
    position: absolute;
    background-color: rgb(123, 0, 255);
    height: 2px;
    width: 0%;
    left: 0;
    bottom: -4px;
    transition: 0.8s;
}

.linkNavBar:hover{
    color: whitesmoke;
    transition: 0.6s;
}

.linkNavBar:hover:after{
    width: 100%;
}

